.menu {
	FONT-SIZE: 0.85em; Z-INDEX: 100; WIDTH: 750px; FONT-FAMILY: verdana, sans-serif; POSITION: relative
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu UL LI {
	FLOAT: left; POSITION: relative
}
.menu UL LI A {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #dfc184; BORDER-LEFT: #fff 0px solid; WIDTH: 139px; COLOR: #000; LINE-HEIGHT: 3em; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 3em; TEXT-DECORATION: none
}
.menu UL LI A:visited {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #dfc184; BORDER-LEFT: #fff 0px solid; WIDTH: 139px; COLOR: #000; LINE-HEIGHT: 3em; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 3em; TEXT-DECORATION: none
}
 HTML .menu UL LI A {
	WIDTH: 139px
}
.menu UL LI A:visited {
	WIDTH: 139px
}
.menu UL LI UL {
	DISPLAY: none
}
TABLE {
	FONT-SIZE: 1em; MARGIN: -1px; BORDER-COLLAPSE: collapse
}
.menu UL LI:hover A {
	BACKGROUND: #bd8d5e; COLOR: #fff
}
.menu UL LI A:hover {
	BACKGROUND: #bd8d5e; COLOR: #fff
}
.menu UL LI:hover UL {
	MARGIN-TOP: 1px; DISPLAY: block; LEFT: 0px; WIDTH: 150px; POSITION: absolute; TOP: 3em
}
.menu UL LI A:hover UL {
	MARGIN-TOP: 1px; DISPLAY: block; LEFT: 0px; WIDTH: 150px; POSITION: absolute; TOP: 3em
}
 HTML .menu UL LI A:hover UL {
	MARGIN-TOP: 1px
}
.menu UL LI:hover UL LI UL {
	VISIBILITY: hidden; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
.menu UL LI A:hover UL LI A UL {
	VISIBILITY: hidden; WIDTH: 0px; POSITION: absolute; HEIGHT: 0px
}
.menu UL LI:hover UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #faeec7; PADDING-BOTTOM: 5px; WIDTH: 129px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 5px; HEIGHT: auto
}
.menu UL LI A:hover UL LI A {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; BACKGROUND: #faeec7; PADDING-BOTTOM: 5px; WIDTH: 129px; COLOR: #000; LINE-HEIGHT: 1.2em; PADDING-TOP: 5px; HEIGHT: auto
}
 HTML .menu UL LI A:hover UL LI A {
	WIDTH: 129px
}
.menu UL LI:hover UL LI A.drop {
	BACKGROUND: url(../../graphics/drop.gif) #c9c9a7 no-repeat right bottom
}
.menu UL LI A:hover UL LI A.drop {
	BACKGROUND: url(../../graphics/drop.gif) #c9c9a7 no-repeat right bottom
}
.menu UL LI:hover UL LI A:hover {
	BACKGROUND: #c9c9a7; COLOR: #000
}
.menu UL LI A:hover UL LI A:hover {
	BACKGROUND: #c9c9a7; COLOR: #000
}
.menu UL LI:hover UL LI:hover UL {
	LEFT: 150px; VISIBILITY: visible; WIDTH: 150px; POSITION: absolute; TOP: 0px
}
.menu UL LI A:hover UL LI A:hover UL {
	LEFT: 150px; VISIBILITY: visible; WIDTH: 150px; POSITION: absolute; TOP: 0px
}
.menu UL LI:hover UL LI:hover UL.left {
	LEFT: -150px
}
.menu UL LI A:hover UL LI A:hover UL.left {
	LEFT: -150px
}
