body{margin:0;background-color:#1e77d3;color:#000000;font-family:Verdana;font-size:1em;}
td{font-family:Verdana,Arial;font-size:70%;}
table{border-collapse:collapse;border-width:0;}
img{border:0;}
.hide{display:none;}
#ca{background-color:#dbdce2;}
#ca td{vertical-align:top;}
.main{width:771px;border-top:solid 1px #999999;border-bottom:solid 1px #999999;background-color:#ffffff;}
.mainW{width:995px;border-top:solid 1px #999999;border-bottom:solid 1px #999999;background-color:#ffffff;}
.page{width:771px;}
.pageW{width:995px;}
a{text-decoration:none;color:#003399;}
a:hover{text-decoration:underline;color:#F60}
#NavTd{border-right:1px solid #999999;background-color:#e5eef9;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr= '#ffffff',endColorStr= '#cadef4',gradientType= '0');}
#Nav{padding:2px 0 10px 0;font:1em Verdana,Arial;}
#Nav .line{border-top:solid 1px #999999;margin:5px 0 5px 0;}
#Nav > .line{margin:6px 0 4px 0;}
#Nav h4{margin:4px 0 5px 5px;font-size:95%;}
#Nav > h4{margin:4px 0 4px 5px;}
#Nav ul{list-style:none;margin:0;padding:0;}
#Nav li{padding:0;margin:-4px 2px;width:175px;}
#Nav > ul > li{margin:-3px 2px;}
#Nav a{cursor:pointer;display:block;color:#000000;padding:2px 4px 4px 8px;margin:1px 0;}
#Nav > ul > li > a{border:1px solid transparent;padding:2px 4px 4px 7px;}
#Nav a:visited{color:#000000;}
#Nav a:hover{border:1px solid #cccccc;margin:0;padding:2px 4px 4px 7px;background-color:#f1f1f1;text-decoration:none;}
#Nav > ul > li > a:hover{margin:1px 0;}
#msviLocalToolbar{border-top:solid 1px #999;background:#F1F1F1;font-size:100%;padding:5px;}
#msviLocalToolbar a{text-decoration:none;color:black;}
#msviLocalToolbar a:hover{text-decoration:none;color:black;}
.lt0{border:solid 1px #F1F1F1;background:#F1F1F1;padding:0 6px 0 6px;font:70% Verdana;color:black;text-decoration:none;}
.lt1{border:solid 1px #999;padding:2px 6px 2px 6px;background:#ccc;font-size:100%;font:70% Verdana;color:black;text-decoration:none;}
.ltsep{font:70% Verdana;color:#A9A9A9;padding:0 1px;}
.ad{margin:-5px 0 0 0;text-align:center;padding:10px 20px;}
#fa{border-bottom:1px solid #ffffff;background-color:#e3e3e5;}
.dFL{width:295px;}
.dFLW{width:407px;}
.dFS{width:296px;}
.dFSW{width:408px;}
.storyS{height:152px;border-left:solid 1px #d2d3d6;}
.storySW{height:209px;border-left:solid 1px #d2d3d6;}
.hhalf{width:295px;height:305px;}
.hhalfW{width:407px;height:419px;}
.heroL{width:591px;height:305px;}
.heroLW{width:815px;height:419px;}
.heroS{width:295px;height:152px;}
.heroSW{width:407px;height:209px;}
.storyS .heroSR{font-size:100%;padding:15px}
.storySW .heroSR{padding:30px}
.storySW .s{font-size:112%;}
.heroSR img{padding-bottom:4;}
.hFade{background-color:#f5f5f5;height:8px;padding:0 0 0 0;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr= '#d1d3d4',endColorStr= '#ffffff',gradientType= '0');}
#nh{background-color:#1F1F1F;color:#FFFFFF;font-size:100%;padding:8px 11px 9px 11px;}
#nh span{font-weight:bold;color:#FF3300;}
#nh a,#nh a:visited{color:#FFFFFF;}
.nTable{width:591px;background:#333;}
.nTableW{width:815px;background:#333;}
#newsHeadlineLTR,#newsHeadline{padding:5px 5px 5px 10px;color:#fff;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#333333',endColorStr='#6c6c6c',gradientType='1');font-family:Verdana,Arial;}
#newsHeadlineRTL{padding:5px 10px 5px 5px;color:#fff;filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#6c6c6c',endColorStr='#333333',gradientType='1');font-family:Tahoma;}
.nTable a,.nTable a:hover,.nTableW a,.nTableW a:hover{color:#fff;}
#newsHeadlineTitleLTR,#newsHeadlineTitle{padding:5px 7px 5px 12px;border-right:1px dotted #999;color:#fdcd00;font-weight:bold;font-family:Verdana,Arial;}
#newsHeadlineTitleRTL{padding:5px 12px 5px 7px;border-left:1px dotted #999;color:#fdcd00;font-weight:bold;font-family:Tahoma;}
.rotatingSection{width:180px;padding:0 15px 25px 10px;}
.rotatingSectionW{width:251px;padding:0 15px 25px 10px;}
.popDest{width:390px;padding:0 15px 25px 10px;background-color:#f5f5f5;}
.popDestW{width:543px;padding:0 15px 25px 10px;background-color:#f5f5f5;}
.vSep{background-color:#d2d3d6;width:1px;}
.al{display:none;}
.alw{display:block;font-family:Verdana;font-size:100%;}
#re .s{margin:13px 0 0 0;}
#al .s{margin:0 0 0 0;}
.s{margin:7px 0 0 0;}
.s img{margin:0 0 5px 0;height:13px;}
.popDest div .s{float:left;padding:0 0 19px 0;width:49.5%;}
.popDestW div .s{float:left;padding:0 0 19px 0;width:33%;}
.r{margin:10px 0 13px 18px;}
.re{height:162px;padding:15px 15px 15px 15px;}
.reW{height:221px;padding:30px 30px 30px 30px;font-family:Verdana;font-size:110%;}
.rh{margin-left:-18px;}
.t{margin:-10px 0 0 0;padding:0 5px 0 17px;color:#999999;font-family:Tahoma,Verdana,Arial;font-size:85%;clear:left;}
.s ul{margin:0 0 0 0;padding:0 0 0 1px;}
.s li{margin:0 0 5px 0;background:url('b.gif') no-repeat top left;list-style-position:outside;list-style-type:none;padding:0 0 0 7px;}
#msviRegionIdGraphic{padding-left:7px;}
.gt0{border:solid 1px #1e77d3;padding:0 4px 2px 4px;font-size:100%;}
.gt1{border:solid 1px #a1c6eb;padding:0 4px 2px 4px;background:#3484D7;font-size:100%;}
.gtsep{font:65% Verdana;color:#a1c6eb;padding:0 1px 2px 1px;}
td#msviGlobalToolbar{width:287px;}
#msviGlobalToolbar a{font:65% Verdana;color:#ffffff;text-decoration:none;}
#msviGlobalSearch{text-align:left;font:65% Verdana;padding-top:5px;padding-left:0;padding-right:14px;}
#msviSearchForm{margin:-1px 0 0 0;}
#msviSearchBox{width:208px;font:110% Tahoma;}
#msviGoButton{font:110% Tahoma;padding:0em 0.2em;position:relative;top:1px;margin-left:6px;width:4.6em;}
#msviDualGlobalSearch{text-align:left;font:71.5% Tahoma;padding-top:6px;padding-left:0;padding-right:14px;}
#msviDualSearchForm{margin:0;}
#msviRadioButtons{margin:2px 0;}
#msviRadioButtons > label{position:relative;top:2px;}
#msviRadioButtons input{width:12px;height:12px;margin:4px 4px 3px 0;vertical-align:middle;}
input#msnSearch{margin-left:9px;}
#msviDualSearchBox{font:100% Tahoma;width:209px;}
#msviSearchButton{font:100% Tahoma;padding:0em 0.2em;position:relative;top:1px;margin-left:6px;width:4.6em;}
#msviFooter{font:70% Tahoma,Helvetica;}
#msviFooter td{font-size:100%;}
#msviLocalFooter{margin:0;padding-top:8px;padding-left:10px;}
#msviLocalFooter img{position:relative;top:3px;margin-right:5px;}
#msviGlobalFooter{margin:0;padding:10px 0 13px 10px;}
#msviFooter a{color:#03C;margin-right:2px;}
#msviFooter a:visited{color:#03C;}
#msviFooter a:hover{color:#F60;}
#msviFooter span{color:#666666;margin-right:5px;}
#msviFooter2{filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr= '#ffffff',endColorStr= '#1e77d3',gradientType= '1');background-color:#ffffff;}
#tdRotSec{background-color:#ffffff}
#tbt{color:#00349A;background-position:left top;background-image:url(/h/all/i/CGrad.gif);background-repeat:repeat-x;background-color:#dbdce2;}
#tbt a,#tbt a:link {color:#00349A;}
#tbt,#tbt td,#tbt div{font-family:Tahoma;margin:0;padding:0;border:0;}
#tbt .trb{border-bottom-color:#a9a9e9;border-bottom-style:dotted;border-bottom-width:2px;}
.tbh{width:181px;}
.tbc{width:217px;}
.tbcW{width:316px;}
.tbp{width:193px;}
.tbpW{width:318px;}
#tabtop{background-color:#FFFFFF;background-image:url(/h/all/i/tabtop.jpg);background-repeat:repeat-x;background-position:left top;height:6px;line-height:6px;}
#tbt .Hilite,#tbt .Normal{visibility:visible;background-repeat:no-repeat;vertical-align:middle;table-layout:fixed;}
#tbt .Normal div,#tbt .Hilite div{line-height:25px;text-align:right;}
#tbt .Hilite{background-color:Transparent;padding:0 15px 2px 2px;color:#000000;font-weight:bold;cursor:default;background-image:url(/h/all/i/tab_embelishment.gif);background-position:left top;}
#tbt .Normal{padding:0 5px 2px 0;overflow:hidden;background-image:url(/h/all/i/round_tab.gif);background-position:right top;}
#tbt .Normal div{padding-right:10px;background-color:#E3E3E5;}
#tbt .HideTab{visibility:hidden;display:none;}
#tbph{background-color:#DBDCE2;}
#tbt .Title{height:25px;text-align:right;vertical-align:top;font-weight:bold;white-space:nowrap;padding:0 15px 0;}
#tbt .Title div{vertical-align:middle;}
#tbt .Marquee {margin:8px 15px 5px 15px;padding-bottom:10px;white-space:normal;}
#tbt .Marquee span{margin:0;padding:0;font-weight:bold;display:block;}
#tbt .Marquee img{width:85px;height:60px;margin-right:11px;border-style:solid;border-style:none;float:left;}
#tbt .Content{text-align:left;vertical-align:top;width:217px;}
#tbt .Content a span{font-weight:bold;}
#tbt a:hover{color:#F60}
#tbt .Content ul{margin:0 0 0 15px;padding:0;list-style:disc none outside;white-space:normal;color:#BBBBBB;}
#tbt .Content li{margin:0 15px 0;padding:0 0 15px 0;vertical-align:top;}
#tbt .Content li a{position:relative;top:-2px;}
#tbt .Popular{vertical-align:top;padding:8px 0 8px 15px;color:#00349A;background-image:url(/h/all/i/RGrad.gif);background-position:left top;background-repeat:repeat-x;}
#tbt .Popular .heading{padding-bottom:5px;color:#000000;font-weight:bold;white-space:normal;}
#tbt .Popular ul{margin:0;padding:0;list-style:disc none outside;white-space:normal;color:#BBBBBB}
#tbt .Popular li{margin:0 0 0 15px;padding:0 0 3px 0;vertical-align:top;}
#tbt .Popular li a{position:relative;top:-2px;}
#tbt .popDest{margin:0 11px 20px 0;width:166px;background-color:Transparent;float:left}
.mainW #tbt .popDest{width:140px}
#msviQL{font-family:Verdana,Arial,Helvetica,sans-serif;font-weight:normal;padding:0 2px 0 9px;margin:0;width:463px;border-style:solid;border-color:#999;border-width:1px 2px 2px 1px;background-color:#fff;color:#000;filter:progid:DXImageTransform.Microsoft.Shadow(color=#a9a9a9,direction=135,strength=3);}
#msviQL h5{font-size:100%;font-weight:bold;margin:8px 0 2px 0;color:#039;}
#msviQL td.hrtd{padding-left:6px;}
#msviQL tr>td.hrtd{padding:3px 0;}
#msviQL td{margin:0;padding:0;}
#msviQL td div{width:143px;padding:0 0 5px 0;margin-left:7px;}
#msviQL .spacer{padding-top:7px;}
#msviQL tr>td>div{width:143px;padding:0 7px 5px 0;margin:0;}
#msviQL tr>td>hr{color:#d0e0f0;width:100%;margin:0;background-color:#d0e0f0;height:1px;}
#msviQL tr td hr{color:#d0e0f0;width:99%;margin:-3px;padding:0;height:1px;overflow:hidden;}
#msviQL ul{margin:0;padding:0;display:block;}
#msviQL li{width:143px;display:block;margin-bottom:1px;list-style-type:none;}
#msviQL li a{color:#000;text-decoration:none;padding:1px 0 1px 3px;display:block;vertical-align:middle;border:solid 1px #fff;height:11px;font-size:100%;font-family:Verdana;}
#msviQL a:hover{border:solid 1px #a2c5eb;background-color:#f0f7fd;cursor:pointer;vertical-align:middle;display:block;}
#msviQL div>ul>li>a:hover{height:auto;}
#msviQL div>ul>li>a{height:auto;}
#hp{padding:0;margin:0;border-right-width:2px;border-right-style:solid;border-right-color:#efefef;}
#qpt {padding:0;margin:0;border-bottom-width:2px;border-bottom-style:solid;border-bottom-color:#efefef;}
#qpb{padding:0;margin:0;}
#fa .fpiW{border:none;width:815px;height:384px;}
#fa .fpi{border:none;width:591px;height:278px;}
#fa .hpiW{border:none;width:498px;height:384px;}
#fa .hpi{border:none;width:361px;height:278px;}
#fa .qpiW{border:none;width:315px;height:191px;}
#fa .qpi{border:none;width:228px;height:138px;}
