.menu2 {
	border-top: #c00 1px solid; font-size: 11px; background: url(../images/menu2.gif) #ddd repeat-x; float: left; margin: 0px 0px 20px; width: 100%; font-family: verdana, arial, sans-serif
}
.menu2 ul {
	padding-right: 0px; padding-left: 0px; padding-bottom: 0px; margin: 0px; padding-top: 0px; list-style-type: none
}
.menu2 ul li {
	float: left; position: relative
}
.menu2 ul li.group {
	padding-right: 0px; display: block; padding-left: 0px; background: #666; padding-bottom: 4px; width: 152px; color: #ff0; text-indent: 10px; padding-top: 4px
}
.menu2 ul li a {
	padding-right: 16px; display: block; padding-left: 16px; float: left; padding-bottom: 0px; color: #444; line-height: 25px; padding-top: 0px; height: 30px; text-decoration: none
}
.menu2 ul li a:visited {
	padding-right: 16px; display: block; padding-left: 16px; float: left; padding-bottom: 0px; color: #444; line-height: 25px; padding-top: 0px; height: 30px; text-decoration: none
}
.menu2 ul li:hover {
	width: auto
}
.menu2 ul li a:hover {
	background: url(../images/sub2a.gif) #aaa; color: #c00
}
.menu2 ul li:hover a {
	background: url(../images/sub2a.gif) #aaa; color: #c00
}
.menu2 ul li ul {
	display: none
}
.menu2 table {
	font-size: 11px; left: 0px; margin: 0px; position: absolute; top: 0px; border-collapse: collapse
}
.menu2 ul li:hover ul {
	margin-top: 1px; display: block; background: #aaa; left: 0px; width: 152px; position: absolute; top: 29px
}
.menu2 ul li:hover ul.scroller {
	overflow: auto; width: 172px; height: 138px
}
.menu2 ul li:hover ul.endstop {
	left: -90px
}
.menu2 ul li:hover ul li ul {
	display: none
}
.menu2 ul li:hover ul li a {
	padding-right: 16px; display: block; padding-left: 16px; background: #aaa; padding-bottom: 4px; width: 120px; color: #fff; line-height: 15px; padding-top: 4px; height: auto
}
.menu2 ul li:hover ul li a.drop {
	background: #888
}
.menu2 ul li:hover ul li a:hover {
	background: #888; color: #ff0
}
.menu2 ul li:hover ul li a.drop:hover {
	background: #888; color: #ff0
}
.menu2 ul li:hover ul li:hover ul {
	display: block; background: #888; left: 152px; overflow: auto; width: 172px; color: #000; position: absolute; top: -70px; height: 138px
}
.menu2 ul li:hover ul li:hover ul li a {
	background: #888
}
.menu2 ul li:hover ul li:hover ul li.group {
	padding-right: 0px; padding-left: 0px; padding-bottom: 5px; width: 152px; padding-top: 5px
}
.menu2 ul li:hover ul li:hover ul.left {
	left: -172px
}
.menu2 ul li:hover ul li:hover ul li a:hover {
	background: #666; color: #0ff
}
.menu2 ul li a:hover ul {
	margin-top: 1px; display: block; background: #aaa; left: 0px; position: absolute; top: 29px
}
.menu2 ul li a:hover ul.scroller {
	overflow: auto; height: 138px
}
.menu2 ul li a:hover ul.endstop {
	left: -90px
}
.menu2 ul li a:hover ul li a {
	padding-right: 16px; display: block; padding-left: 16px; padding-bottom: 4px; width: 120px; color: #fff; line-height: 15px; padding-top: 4px; height: 1px
}
.menu2 ul li a:hover ul li a.drop {
	background: #888; padding-bottom: 5px
}
.menu2 ul li a:hover ul li a ul {
	visibility: hidden; width: 0px; position: absolute; height: 0px
}
.menu2 ul li a:hover ul li a:hover {
	background: #888; color: #ff0
}
.menu2 ul li a:hover ul li a.drop:hover {
	background: #888; color: #ff0
}
.menu2 ul li a:hover ul li a:hover ul {
	background: #888; left: 152px; visibility: visible; overflow: auto; width: 170px; color: #000; position: absolute; top: -70px; height: 138px
}
.menu2 ul li a:hover ul li a:hover ul.left {
	left: -170px
}
.menu2 ul li a:hover ul li a:hover ul li a:hover {
	background: #666; color: #0ff
}
.left {
	clear: both
}