.menu5 {
	FONT-SIZE: 0.9em; FONT-FAMILY: verdana, sans-serif; LIST-STYLE-TYPE: none; POSITION: relative; HEIGHT: 2.5em; TEXT-ALIGN: left
}
.menu5 UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu5 LI {
	FLOAT: left; POSITION: relative
}
.menu5 LI A {
	PADDING-RIGHT: 1em; DISPLAY: block; FLOAT: left; WIDTH: 6em; COLOR: #909; LINE-HEIGHT: 3em; HEIGHT: 3em; TEXT-DECORATION: none
}
.menu5 LI A:visited {
	PADDING-RIGHT: 1em; DISPLAY: block; FLOAT: left; WIDTH: 6em; COLOR: #909; LINE-HEIGHT: 3em; HEIGHT: 3em; TEXT-DECORATION: none
}
 HTML .menu5 LI A {
	WIDTH: 6em
}
.menu5 LI A:visited {
	WIDTH: 6em
}
.menu5 LI A.drop {
	FONT-WEIGHT: bold
}
.menu5 LI A.drop:visited {
	FONT-WEIGHT: bold
}
.menu5 LI UL {
	LEFT: 0px; VISIBILITY: hidden; OVERFLOW: hidden; POSITION: absolute; TOP: 2.5em; HEIGHT: 0px
}
.menu5 TABLE {
	FONT-SIZE: 1em; MARGIN: -1px; BORDER-COLLAPSE: collapse
}
.menu5 LI:hover A {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
.menu5 LI A:hover {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; TEXT-DECORATION: underline
}
.menu5 LI:hover UL {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; LEFT: 0px; VISIBILITY: visible; OVERFLOW: visible; BORDER-LEFT: #ddd 1px solid; WIDTH: 10em; BORDER-BOTTOM: #ddd 1px solid; TOP: 2.5em; HEIGHT: auto
}
.menu5 LI A:hover UL {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; LEFT: 0px; VISIBILITY: visible; OVERFLOW: visible; BORDER-LEFT: #ddd 1px solid; WIDTH: 10em; BORDER-BOTTOM: #ddd 1px solid; TOP: 2.5em; HEIGHT: auto
}
.menu5 LI:hover UL LI A {
	PADDING-RIGHT: 0.5em; DISPLAY: block; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.5em; WIDTH: 9em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0.5em; HEIGHT: auto; TEXT-DECORATION: none
}
.menu5 LI A:hover UL LI A {
	PADDING-RIGHT: 0.5em; DISPLAY: block; PADDING-LEFT: 0.5em; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 0.5em; WIDTH: 9em; LINE-HEIGHT: 1.5em; PADDING-TOP: 0.5em; HEIGHT: auto; TEXT-DECORATION: none
}
 HTML .menu5 LI A:hover UL LI A {
	WIDTH: 9em
}
.menu5 LI:hover UL LI A.drop {
	FONT-WEIGHT: bold
}
.menu5 LI A:hover UL LI A.drop {
	FONT-WEIGHT: bold
}
.menu5 LI:hover UL LI UL {
	LEFT: 9.5em; VISIBILITY: hidden; OVERFLOW: hidden; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.menu5 LI A:hover UL LI A UL {
	LEFT: 9.5em; VISIBILITY: hidden; OVERFLOW: hidden; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.menu5 LI:hover UL LI A:hover {
	TEXT-DECORATION: underline
}
.menu5 LI A:hover UL LI A:hover {
	TEXT-DECORATION: underline
}
.menu5 LI:hover UL LI:hover UL {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; VISIBILITY: visible; BORDER-LEFT: #ddd 1px solid; WIDTH: 9.5em; COLOR: #000; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: auto
}
.menu5 LI A:hover UL LI A:hover UL {
	BORDER-RIGHT: #ddd 1px solid; BORDER-TOP: #ddd 1px solid; BACKGROUND: #fff; VISIBILITY: visible; BORDER-LEFT: #ddd 1px solid; WIDTH: 9.5em; COLOR: #000; BORDER-BOTTOM: #ddd 1px solid; HEIGHT: auto
}
.menu5 LI:hover UL LI:hover UL.left {
	LEFT: -9.3em
}
.menu5 LI A:hover UL LI A:hover UL.left {
	LEFT: -9.3em
}
.menu5 LI:hover UL LI:hover UL LI A {
	DISPLAY: block; HEIGHT: auto
}
.menu5 LI A:hover UL LI A:hover UL LI A {
	DISPLAY: block; HEIGHT: auto
}
.menu5 LI:hover UL LI:hover UL LI:hover A {
	TEXT-DECORATION: underline
}
.menu5 LI A:hover UL LI A:hover UL LI A:hover {
	TEXT-DECORATION: underline
}
