/* r.a.d.menu Plain skin */

.RadMenu_telerikCom 
{
	height: 41px;
	width: 100%;
	margin-bottom: -1px;
}
/*to overwrite styles in the web-site */
.RadMenu_telerikCom .text
{
	color: #000;
	padding-bottom:0px;
	width:auto;
}

.RadMenu_telerikCom_Context
{
	background: none;
	border:0;
}

.RadMenu_telerikCom .link
{
	height: 41px;
	text-decoration:none;
	color: #000;
	background: url("css/menu/skins/com/img/mainitembg.gif") no-repeat;
	text-align: center;
	width: 91px;
}

.RadMenu_telerikCom .rootGroup
{
	background: url("css/menu/skins/com/img/mainItemFirst.gif") repeat-x;
}

.RadMenu_telerikCom .first .link
{
	background: url(css/menu/skins/com/img/mainItemFirst.gif) no-repeat;
}

.RadMenu_telerikCom .last .link
{
	background: url(css/menu/skins/com/img/mainItemLast.gif) no-repeat;
	width: 93px;
}

.RadMenu_telerikCom .link:hover,
.RadMenu_telerikCom .focused,
.RadMenu_telerikCom .expanded,
.RadMenu_telerikCom .first .link:hover,
.RadMenu_telerikCom .first .focused,
.RadMenu_telerikCom .first .expanded,
.RadMenu_telerikCom .last .link:hover,
.RadMenu_telerikCom .last .focused,
.RadMenu_telerikCom .last .expanded
{
	background: white url(css/menu/skins/com/img/mainItemBg.gif) no-repeat;
}

.RadMenu_telerikCom .focused,
.RadMenu_telerikCom .last .focused,
.RadMenu_telerikCom .first .focused
{
	background: white url(css/menu/skins/com/img/mainItemHover.gif) no-repeat;
}

.RadMenu_telerikCom .text
{
	font-size: 11px;
	font-family: Verdana, Arial;
	padding-top: 14px;
}

.RadMenu_telerikCom .group .level2
{
	border-top: solid 1px #e4e4e4;
	border-right: solid 1px #ebebeb;
}


.RadMenu_telerikCom .level1
{
	left:-5px;
	position: relative !important;
	border-right: solid 1px #ebebeb;
	background: url(css/menu/skins/com/img/white.gif) repeat-y right;
}

.RadMenu_telerikCom .group .link
{
	background: white url(css/menu/skins/com/img/menuItemsBg.gif) no-repeat bottom left;
	border-left: solid 1px #e4e4e4;
	text-align: left;
	height: 25px;
	line-height: 25px;
	margin-left: 2px;
	min-width: 180px;
}

.RadMenu_telerikCom .group .level2 .link
{
	margin-left: 0px;
}

.RadMenu_telerikCom .group .link .text,
.RadMenu_telerikCom .group .level2 .link:hover .text,
.RadMenu_telerikCom .group .level2 .focused .text,
.RadMenu_telerikCom .group .level2 .expanded .text
{
	padding: 0px 31px 0px 21px;
}

.RadMenu_telerikCom .group .last .link
{
	background: white url(css/menu/skins/com/Img/menuItemsLast.gif) no-repeat bottom left;
	border-left: 0;
}

.RadMenu_telerikCom .group .last .level2 .link
{
	background: white url(css/menu/skins/com/Img/menuItemsBg.gif) no-repeat bottom left;
}


.RadMenu_telerikCom .group .last .link:hover
{
	margin-right:1px;
}

.RadMenu_telerikCom .group .level2 .last .link:hover
{
	margin-right:0px;
}

.RadMenu_telerikCom .group .link:hover,
.RadMenu_telerikCom .group .focused,
.RadMenu_telerikCom .group .expanded
{
	background: white url(css/menu/skins/com/img/menuItemsHoverBg.gif) no-repeat;
	font-weight: normal;
	color: #65ab00;
	margin-left: 0px;
	min-width: 183px;
}

.RadMenu_telerikCom .group .level2 .link:hover,
.RadMenu_telerikCom .group .level2 .focused,
.RadMenu_telerikCom .group .level2 .expanded
{
	min-width: 180px;
}

.RadMenu_telerikCom .group .link:hover .text,
.RadMenu_telerikCom .group .focused .text,
.RadMenu_telerikCom .group .expanded .text
{
	height: 25px;
	line-height: 25px;
	padding: 0px 21px 0px 23px;
}

.RadMenu_telerikCom .leftArrow,
.RadMenu_telerikCom .rightArrow,
.RadMenu_telerikCom .topArrow,
.RadMenu_telerikCom .bottomArrow,
.RadMenu_telerikCom .leftArrowDisabled,
.RadMenu_telerikCom .rightArrowDisabled,
.RadMenu_telerikCom .topArrowDisabled,
.RadMenu_telerikCom .bottomArrowDisabled
{
	background: #ededed url(css/menu/skins/com/img/left.gif) center center no-repeat;
	width:15px;
}

.RadMenu_telerikCom .topArrow,
.RadMenu_telerikCom .topArrowDisabled
{
	background-image:url(css/menu/skins/com/img/top.gif);
	width:100%;
}

.RadMenu_telerikCom .bottomArrow,
.RadMenu_telerikCom .bottomArrowDisabled
{
	background-image:url(css/menu/skins/com/img/bottom.gif);
	width:100%;
}

.RadMenu_telerikCom .rightArrow,
.RadMenu_telerikCom .leftArrow
{
	height:100%;
}

.RadMenu_telerikCom .rightArrow,
.RadMenu_telerikCom .rightArrowDisabled
{
	background-image: url(css/menu/skins/com/img/right.gif);
}

.RadMenu_telerikCom .vertical .separator .text
{
	padding-top: 2px;
	background: #ccc;
	font-size: 1px;
}

.RadMenu_telerikCom .expandLeft,
.RadMenu_telerikCom .expandRight
{
	background:transparent url(css/menu/skins/com/img/groupImage.gif) right center no-repeat;
	margin-right: 10px;
}

.RadMenu_telerikCom .link:hover .expandLeft,
.RadMenu_telerikCom .link:hover .expandRight,
.RadMenu_telerikCom .focused .expandLeft,
.RadMenu_telerikCom .focused .expandRight,
.RadMenu_telerikCom .expanded .expandLeft,
.RadMenu_telerikCom .expanded .expandRight
{
	background:transparent url(css/menu/skins/com/img/invertedGroupImage.gif) right center no-repeat;
}